/*----------------------------------------------
Author : www.webthemez.com
License: Commons Attribution 3.0
http://creativecommons.org/licenses/by/3.0/
------------------------------------------------*/

/*----------------------------------------------
    COMMON  STYLES    
------------------------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    background: #58585a;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #ffffff;
}

.padding20 {
    padding: 20px;
}

#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: #f6f6f6;
    padding: 15px 30px;
    /*min-height:1200px;*/
}

.header .container-fluid {
    padding: 0;
}

.text-center {
    text-align: center;
}

.no-boder {
    border: 1px solid #f3f3f3;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 7px;
    margin-bottom: -5px;
}

h2 {
    color: #58585A;
}

h4 {
    padding-top: 10px;
}

.square-btn-adjust {
    border: 0px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

}

p {
    font-size: 16px;
    line-height: 25px;
    padding-top: 20px;
}

.navbar-side {
    z-index: 0;
}

.panel {
    /*border-radius:0px;*/
}

.navbar-side .nav > li > a > i {
    color: #FFFFFF;
    padding: 8px;
    width: 30px;
    text-align: center;
}

.top-navbar {
    position: fixed;
    width: 100%;
    z-index: 300;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.navbar-side {
    z-index: 1;
    position: fixed;
    width: 260px;
    top: 80px;
}

#page-wrapper {
    position: relative;
    top: 55px;
    box-shadow: 0 0 10px #757575;
    -moz-box-shadow: 0 0 10px #757575;
    -webkit-box-shadow: 0 0 10px #757575;
}

.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
    text-decoration: none;
    background-color: #afca0b;
    color: #fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
}

.breadcrumb {
    padding: 12px 10px 12px 20px;
    margin-bottom: 20px;
    list-style: none;

    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    background: #fff;
}

.dropdown-menu > li > a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-size: 13px;
}

.dropdown-menu > li > a i {
    color: #1F1F1F;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 0px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.text-muted {
    color: #FB5651;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 4px 7px;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #58585a;
    border-radius: 10px;
}

.closed {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.closed i {
    color: #58585a;
}

/*----------------------------------------------
   DASHBOARD STYLES    
------------------------------------------------*/
.page-header {
    margin: 0;
    border-bottom: 1px solid transparent;
    text-align: left;
    background-color: transparent;
    padding: 0;
    color: #58585A;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}
h1.page-header,
h2.page-header {
    margin:40px 0 0 0;
}
.page-header h2{
    font-size: 20px;
    margin: 20px 0 20px 0;
}
p {
    padding: 10px 0 20px 0;
}
.panel-left {
    width: 100px;
    height: 100px;
    background: #0866C6; /* border: 2px solid #4590DA; */
    /* border-radius: 100%; */
    overflow: hidden;

    margin: 12px;
}

.panel-left .fa-5x {
    font-size: 3em;
    color: rgb(240, 155, 34);
    padding: 29px 0;
    margin-bottom: 30px;
}

.panel-right {
    height: 124px;
    background: transparent;
    margin-bottom: 0;
    color: #AFAFAF;

    float: left;
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    text-shadow: none;
    font-weight: normal;
    text-align: center;
}

.panel-right h3 {
    font-size: 40px;
    padding: 18px 10px 13px 0;
    color: #5D5D5D;
}

.panel-right strong {
    font-weight: normal;
    color: #737373;
}

.panel-back {
    background-color: #fff;

}

.panel-default {
    border-color: #dddddd;
}

.panel-default > .panel-heading {
    color: #555;
    border-color: #dddddd;
    font-weight: bold;
    background: #f5f5f5;
    font-size: 16px;
    text-shadow: none;

}

.panel-heading {
    /* padding: 15px 15px 0px; */
    border-bottom: 1px solid #dddddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-title {
    font-weight: 600;
}

.jumbotron {
    padding: 20px;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 200;
}

.jumbotron, .well {
    background: #fff;
}

.noti-box {
    min-height: 100px;
    padding: 20px;
}

.noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.text-box p {
    margin: 0 0 3px;
}

.main-text {
    font-size: 25px;
    font-weight: 600;
}

.set-icon {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

}

.panel-primary {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}


.icon-box-right {
    display: block;
    float: right;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}


footer p {
    font-size: 14px;
}

footer ul li {
    list-style: none;
}

footer ul {
    padding: 0;
}

footer ul ul {
    padding: 10px;
}

/*----------------------------------------------
    MENU STYLES    
------------------------------------------------*/
div#sideNav:hover {
    color: #58585a;
}

.user-image {
    margin: 25px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height: 170px;
    max-width: 170px;
}

.top-navbar {
    margin: 0px;
}

.top-navbar .navbar-brand {
    color: #fff;
    width: 260px;
    text-align: left;
    height: 79px;
    font-size: 24px;
    font-weight: 700;
    /* text-transform: uppercase; */
    line-height: 30px;
    background: #58585a;
}

.navbar-brand b {
    color: #afca0b;
}

.top-navbar .nav > li {
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.top-navbar .nav > li > a {
    position: relative;
    display: block;
    padding: 20px;
    color: #58585a;
    margin: 0px;
}

.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
    text-decoration: none;
    color: #afca0b !important;
    background: transparent;
}

.top-navbar .dropdown-menu {
    min-width: 230px;
    border-radius: 0 0 4px 4px;
    border: 0;
    margin: 0;
    padding: 0;
}

.top-navbar .dropdown-menu > li > a:hover, .top-navbar .dropdown-menu > li > a:focus {
    color: #ffffff;
    background: #afca0b;
}

.dropdown-tasks {
    width: 255px;
}

.dropdown-tasks .progress {
    height: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0px;
}

.dropdown-tasks > li > a {
    padding: 0px 15px;
}

.dropdown-tasks p {
    font-size: 13px;
    line-height: 21px;
    padding-top: 4px;
}

.active-menu, .active-menu i {
    background-color: #afca0b !important;
    color: #ffffff !important;
}

.active-menu i {
    color: #ffffff !important;
}

.arrow {
    float: right;
    margin-top: 8px;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}

.sidebar-collapse .nav {
    padding: 0;
}

.sidebar-collapse .nav > li > a {
    color: #FFFFFF;
    background: transparent;
    text-shadow: none;
}

.sidebar-collapse > .nav > li > a {
    padding: 12px 10px;
}

.sidebar-collapse > .nav > li {
    border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}

ul.nav.nav-second-level.collapse.in {
    background: #58585a;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    background: #afca0b;
    outline: 0;
}

.navbar-side {
    border: none;
    background: #58585a;
}

.top-navbar {
    background: #f6f6f6;
    border-bottom: none;
}

.top-navbar .nav > li > a > i {
    margin-right: 2px;
}

.top-navbar .navbar-brand:hover {
    color: #FFFFFF;
    background-color: #58585a;
}

.navbar-default {
    border: 0px solid black;

}

.navbar-header {
    background: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #283643;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.nav > li > a > i {
    margin-right: 10px;
    color: #58585a;
}

.dropdown-menu > li > a > strong {
    padding: 5px 0;
    display: inline-block;
    font-weight: 500;
}

#sideNav {
    float: left;
    left: 0;
    z-index: 3;
    color: #868686;
    cursor: pointer;
    border-radius: 0;
    width: 14px;
    font-size: 48px;
    line-height: 0;
    margin: 7px 0 0 20px;
}

ul.dropdown-menu.dropdown-messages li a div {
    padding: 2px 0;
}

/*----------------------------------------------
    UI ELEMENTS STYLES     
------------------------------------------------*/
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

/*----------------------------------------------
    MEDIA QUERIES     
------------------------------------------------*/

@media (min-width: 768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 0;
        /*min-height: 1200px;*/
    }

    .navbar-side {
        width: 260px;
        z-index: 1;
    }

    .navbar {
        border-radius: 0px;
    }

}

@media (max-width: 768px) {
    #sideNav {
        display: none;
    }

    #page-wrapper {
        position: relative;
        top: 93px;
    }
}

@media (max-width: 480px) {
    #page-wrapper {
        position: relative;
        top: 93px;
    }

    .page-header small {
        display: block;
        padding-top: 14px;
        font-size: 19px;
    }

    #sideNav {
        display: none;
    }

    .panel-left {
        width: 85px;
        height: 85px;
        border-radius: 100%;
        overflow: hidden;
        margin: 14px;
    }
}

#page-wrapper a.btn {
    color: #ffffff;
}

.btn.btn-default {
    background-color: #afca0b;
    color: #ffffff;
}

a {
    color: #58585a;
}

#page-wrapper a.delete,
#page-wrapper a.edit {
    color: #afca0b;
}

.listdocs .panel-heading {
    color: #ffffff;
    background: #58585a;
    cursor: pointer;
}

.panel-heading.collapsed .fa-minus-square-o:before {
    content: "\f196";
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ccc;
}


@media screen and (max-width: 767px){
    .top-navbar {
        background: #58585a;
        border-bottom: none;
    }
}