.paddingAdjustBottom{
    padding: 0 0 10px 0 ;
}

.booknow .form-group button{
    width:100%;
}

.map-main{
    width:100%;
    height: 350px;
    float: left;
}

.bookme {
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #ffffff;
    width: 350px;
    margin: 20px 0;
}
.bookme .input-group{
    width: 100%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    margin: 0 auto;
}

.spinner {
    /* Spinner size and color */
    width: 1.5rem;
    height: 1.5rem;
    border-top-color: #444;
    border-left-color: #444;

    /* Additional spinner styles */
    animation: spinner 400ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

/* Animation styles */
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Optional — create your own variations! */
.spinner-large {
    width: 5rem;
    height: 5rem;
    border-width: 6px;
}

.spinner-slow {
    animation: spinner 1s linear infinite;
}

.spinner-blue {
    border-top-color: #09d;
    border-left-color: #09d;
}




.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

@media (max-width: 1200px) {
    .bookme {
        width:300px;
    }
}

@media (max-width: 992px) {
    .bookme {
        padding: 20px;
        border: 1px solid #000;
        border-radius: 5px;
        background: #ffffff;
        width:100%;
    }
}

@media (max-width: 775px) {
    #myCarousel{
        height: 70px;
    }
}
@media (min-width: 776px) {
    #myCarousel{
        height: 120px;
    }
}